* {
    box-sizing: border-box;

}

body {
    margin: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

/* Organização geral da página */

.layout-pagina {
    display: grid;
    grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer"
    ;

    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
}

/* Cabeçalho */

.cabecalho {
    grid-area: header;

    background-color: #003b76;
    color: white;
    padding: 25px;
    text-align: center;
}

.cabecalho h1{
    margin: 0 0 10px;

}

.cabecalho p{
    margin: 0;
}

/* Barra lateral */

.barra-lateral{
    grid-area: sidebar;
    background-color: #F79A16;
    padding: 20px;
}

.barra-lateral h2{
    color: black;

}

.barra-lateral ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.barra-lateral li{
    margin-bottom: 10px;

}

.barra-lateral a{
    display: block;
    background-color: #003b76;
    color: white;
    padding: 12px;
    text-decoration: none;

}

.barra-lateral a:hover{
    background-color: #01162b;
}

/*Conteudo principal*/

.conteudo-principal{
    grid-area: main;
    padding: 30px;

}

.conteudo-principal h2{
    margin-top: 0;
    color: #003b76;

}

.grid-principal {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    
}


/*Cards*/

.card {
    background-color: #F79A16;
    padding: 20px;
    border: 1px solid #003b76;
    border-radius: 10px;
    box-shadow: 0 3px 8px #01162b;
}

.card h3{
    margin-top: 0;
    color: rgb(0, 0, 0);
}

.card p{
    line-height: 1.6;
}

.card a{
    display: inline-block;
    background-color: #003b76;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.card a:hover{
    background-color: #01162b;

}